
@{
    ViewBag.Title = "Ejercicios HTML";
}

<div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Conceptos básicos 1</h5>
            <a href="@Url.Action("Ejercicio1", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Conceptos básicos 2</h5>
            <a href="@Url.Action("Ejercicio2", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Conceptos básicos 3</h5>
            <a href="@Url.Action("Ejercicio3", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Conceptos básicos 4</h5>
            <a href="@Url.Action("Ejercicio4", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Enlaces</h5>
            <a href="@Url.Action("Enlaces", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Listas</h5>
            <a href="@Url.Action("Listas", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Tablas 1</h5>
            <a href="@Url.Action("Tabla1", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Tablas 2</h5>
            <a href="@Url.Action("Tabla2", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
</div>


<div class="card-deck">
    <div class="card border-primary mb-4" style="max-width: 25rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Formularios 1</h5>
            <a href="@Url.Action("Formularios1", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-4" style="max-width: 25rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Formularios 2</h5>
            <a href="@Url.Action("Formularios2", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-4" style="max-width: 25rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Formularios HTML5</h5>
            <a href="@Url.Action("FormulariosHTML5", "EjerciciosHTML")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>

</div>



