
@{
    ViewBag.Title = "Ejercicios CSS";
}

<div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Como se usa 1</h5>
            <a href="@Url.Action("EjercicioComoSeUsa1", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Como se usa 2</h5>
            <a href="@Url.Action("EjercicioComoSeUsa2", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Como se usa 3</h5>
            <a href="@Url.Action("EjercicioComoSeUsa3", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Selectores 1</h5>
            <a href="@Url.Action("Selectores1", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Selectores 2</h5>
            <a href="@Url.Action("Selectores2", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Selectores 3</h5>
            <a href="@Url.Action("Selectores3", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Maquetación Diseño Fijo</h5>
            <a href="@Url.Action("MaquetacionFijo", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Ejercicios</div>
        <div class="card-body text-primary centerAl">
            <h5 class="card-title">Maquetación Diseño Elástico</h5>
            <a href="@Url.Action("MaquetacionElastico", "EjerciciosCSS")" class="btn btn-primary">Ir al Ejercicio</a>
        </div>
    </div>
</div>